<!-- Header -->
<div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">

        <h1 class="title"> World Job</h1>
        <p class="slogan">
          Find Your Best Opportunity Anywhere!
          <br>
          Open a New World by Working Overseas.
        </p>
        <p class="lead">
          <%= link_to 'Get International Job', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>

  <!-- About -->
      <section id="about" class="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2>Find Better</h2>
                      <p class="lead">World Job has the expert advice you need for your job search and career—interview tips, networking icebreakers, salary negotiation strategies, our latest World Job 100 list of companies hiring now and more.</p>
                  </div>
              </div>
              <!-- /.row -->
          </div>
          <!-- /.container -->
      </section>

  <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>How World Job Works for You</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Search millions of jobs</strong>
                                </h4>
                                <p>We've got more than 5 million of 'em—so you've got plenty of options. Plus, we'll send an alert when a good fit for you is posted.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Get discovered</strong>
                                </h4>
                                <p>Create an account and upload your resume to be found by the recruiters who search World Job's databases every day.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Be a better candidate</strong>
                                </h4>
                                <p>We've got your back. Our career advice, resume services and education partners give you a leg up in the job search.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


  <!-- they said  part-->
  <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading"> Susan: </h2>
            <p class="lead">  "Thanks for Wold Job, I find my perfect job in Paris"</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">John:</h2>
            <p class="lead">I want to say, this is the best website I can find to get a job overseas. </p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading"> Lin:</h2>
            <p class="lead">Sometimes I am facing some problems when living in a diffent culture environment.But I got Wold Job,I know better about the country I work in. </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Find Your Perfect Job Here</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                </div>
            </div>
        </div>
    </aside>
